.calendar {
  @include widget-box;
  font-size: 1rem;
  font-weight: 500;

  calendar {
    padding: 0.1rem;

    &:selected {
      padding: 0.2rem 0.1rem;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 0.5rem;
    }

    &.button {
      padding: 1rem;
      color: rgba(255, 255, 255, 0.5);
    }

    &:indeterminate {
      color: rgba(255, 255, 255, 0.2);
    }
  }
}
