.tools {
  @include widget-box;
  margin-top: 1rem;
}

.tool {
  font-size: 1.7rem;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.tool:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
