.workspaces {
  border-radius: 1rem;
  padding: 0rem;
  margin: 0.2rem 0.5rem;
}

.workspace {
  border-radius: 0.25rem;
  margin: 0.2rem 0.05rem;
  padding: 0rem 0.7rem;
  font-size: 1rem;
  transition: 0.3s;

  &.current {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
  }
}

.workspace:hover {
  background-color: rgba(255, 255, 255, 0.1);
  &.current {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
