* {
  all: unset;
  font-family: Caskadya Cove Nerd Font;
  font-weight: 400;
}

@mixin window {
  background-color: $background;
  color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem 1rem;
}

.icon {
  font-size: 2rem;
}

.large-icon {
  font-size: 3rem;
}

@mixin widget-box {
  border-radius: 1rem;
  padding: 0.5rem;
}

tooltip {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
  padding: 0rem 2rem;
}

@import "scripts/colors/colors.scss";
@import "scripts/colors/background.scss";

@import "scss/bar.scss";
@import "scss/powermenu.scss";

@import "scss/dock.scss";
@import "scss/center_dock.scss";
@import "scss/right_dock.scss";
@import "scss/notifications_popup.scss";

@import "scss/language.scss";
@import "scss/weather.scss";
@import "scss/clock_date.scss";
@import "scss/quick_settings.scss";
@import "scss/volume.scss";
@import "scss/workspaces.scss";
@import "scss/music.scss";
@import "scss/indicator.scss";
@import "scss/notifications.scss";
@import "scss/tools.scss";
