* {
  transition: 0.2s;
}

window {
	font-family: CaskaydiaCove Nerd Font;
	font-size: 13px;
  margin: 0px;
  border:none;
  background-color: rgba(255,255,255,0.1);
}

#input {
  margin: 10px;
  padding: 5px 10px;
  border: none;
  color: #ffffff;
  background-color: rgba(255,255,255,0.1);
  outline: none;
  border-radius: 16px;
}

#input::placeholder {
  color: #ffffff;
}

#input image {
  color: #ffffff;
}

#input:focus {
  border: none;
  outline: none;
}

#inner-box {
  margin: 10px;
  margin-top: 10px;
  border: none;
  color: #c0caf5;
  border-radius: 12px;
}

#inner-box * {
  transition: none;
}

#outer-box {
  margin: 0px;
  border: none;
  padding: 0px;
  border-radius: 16px;
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 16px;
  margin-bottom: 5px;
}

#text:selected {
  color: #fff;
}

#img {
  margin-right: 5px;
  background: transparent;
}

#text {
  margin: 0px;
  border: none;
  padding: 0px;
  background: transparent;
}

#entry {
  margin: 0px;
  border: none;
  border-radius: 16px;
  padding: 5px 10px;
  background-color: transparent;
  min-height:15px;
  font-weight: 500;
}

#entry:selected {
  outline: none;
  margin: 0px;
  border: none;
  border-radius: 16px;
  background-color: rgba(255,255,255,0.1);
}
