* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font, monospace;
  font-weight: 500;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  color: #cdd6f4;
  background-color: rgba(26,27,38,0.8);
}

tooltip {
  border-style: solid;
}

#custom-updates,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#cpu,
#disk,
#backlight {
  padding: 3px 8px;
  color: white;
}

#workspaces button {
  color: white;
  margin-right: 5px;
}

#workspaces button.active {
  background-color: #7aa7f2;
}

#workspaces button.focused {
  background-color: #8963ef;
}

#workspaces button.urgent {
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: #8963ef;
  color: #cdd6f4;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

.modules-left,
.modules-right {
  padding-left: 10px;
  padding-right: 10px;
}

