* {
  border: none;
  border-radius: 0;
  font-family: CaskaydiaCove Nerd Font, monospace;
  font-weight: 500;
  font-size: 14px;
  min-height: 0;
}

#window {
  border-radius: 10px;
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar {
  color: #cdd6f4;
  background-color: rgba(26,27,38,0.8);
}

tooltip {
  border-style: solid;
}

#custom-updates,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#workspaces,
#tray,
#memory,
#language,
#cpu,
#disk,
#backlight {
  padding: 0px 4px;
  color: white;
}

#tray {
  margin-bottom: 2px;
}

#custom-separator {
  color: grey;
  margin-top: 7px;
}

#workspaces button {
  color: white;
}

#workspaces button.active {
  background: linear-gradient(45deg, rgba(122,162,247,1) 0%, rgba(148,226,213,1) 100%);
  color: white;
}

#workspaces button.focused {
  background-color: rgba(26,27,38,0.8);
  color: black;
}

#workspaces button.urgent {
  color: #11111b;
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: rgba(255,255,255,0.05);
  color: white;
}

.modules-left,
.modules-right {
  padding-left: 10px;
  padding-right: 10px;
}

