$primary: #006493;
$onPrimary: #ffffff;
$primaryContainer: #c7e6ff;
$onPrimaryContainer: #001e30;
$secondary: #4f606e;
$onSecondary: #ffffff;
$secondaryContainer: #d3e5f6;
$onSecondaryContainer: #0b1d29;
$tertiary: #64597b;
$onTertiary: #ffffff;
$tertiaryContainer: #ebdcff;
$onTertiaryContainer: #201634;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$onBackground: #1a1c1e;
$surface: #fcfcff;
$onSurface: #ffffff;
$surfaceVariant: #dee3ea;
$onSurfaceVariant: #41474d;
$outline: #72787e;
$shadow: #000000;
$inverseSurface: #2f3032;
$inverseOnSurface: #f0f0f3;
$inversePrimary: #89ceff;