$primary: #694fa4;
$onPrimary: #ffffff;
$primaryContainer: #ebddff;
$onPrimaryContainer: #23005c;
$secondary: #625b70;
$onSecondary: #ffffff;
$secondaryContainer: #e9def8;
$onSecondaryContainer: #1e182b;
$tertiary: #7e525f;
$onTertiary: #ffffff;
$tertiaryContainer: #ffd8e3;
$onTertiaryContainer: #31101c;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$onBackground: #1d1b1f;
$surface: #fffbfd;
$onSurface: #ffffff;
$surfaceVariant: #e7e0ec;
$onSurfaceVariant: #49454f;
$outline: #7a757f;
$shadow: #000000;
$inverseSurface: #323033;
$inverseOnSurface: #f5eff4;
$inversePrimary: #d2bbff;